body {
  min-width: 500px;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h1, h2, h3:not(.impl):not(.method), h4:not(.method) {
  margin: 10px 0 5px 0;
  padding-bottom: 6px;
}

h1.fqn {
  border-bottom: 1px solid black;
  margin-top: 0;
}

h2, h3:not(.impl):not(.method), h4:not(.method) {
  border-bottom: 1px solid black;
}

h3.impl, h3.method, h4.method {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3.impl, h3.method {
  margin-top: 15px;
}

ol, ul {
  overflow-x: hidden;
  padding-left: 25px;
}

ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0;
}

p {
  margin: 0 0 .6em 0;
}

code, pre {
  font-family: monospace;
  white-space: pre-wrap;
}

pre {
  border: 1px solid black;
  background-color: #F5F5F5;
  padding: 14px;
}

.content.source {
    margin: 0;
    padding: 0;
}

.sidebar {
  background-color: #F0F0F0;
  float: left;
  border-style: solid;
  border-color: black;
  border-left-width: 0;
  border-top-width: 0;
  margin-right: 10px;
}

.content, nav {
  max-width: 960px;
  margin-right: 10px;
}

.js-only, .hidden {
  display: none;
}

.sidebar img {
  display: none;
}

.sidebar .location {
  padding-top: 5px;
  height: 20px;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 10px 0;
  background: #e1e1e1;
  text-align: center;
  color: #333;
}

.block {
  padding: 0 10px;
  margin-bottom: 14px;
}

.block h2 {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}

.block a {
  display: block;
  padding: 7px 5px;
}

.block a:hover {
  background: #DDDDDD;
}

.content.source pre.rust {
    white-space: pre;
    padding-left: 0;
}
.content pre.line-numbers {   
    float: left; 
    border: none; 
}

.line-numbers span { 
    color: #c67e2d;
}

.line-numbers .line-highlighted {
    background-color: #f6fdb0;
}

.docblock.short p {
    margin: 0;
}

.docblock code {
    background-color: #dddddd;
}

.docblock.short code {
    white-space: nowrap;
}

.docblock h1, .docblock h2, .docblock h3, .docblock h4, .docblock h5 {
    border-bottom: 1px solid black;
}

.docblock h1 {
  font-size: 1.3em;
}

.docblock h2 {
  font-size: 1.15em;
}

.docblock h3, .docblock h4, .docblock h5 {
  font-size: 1em;
}

.content .out-of-band {
    float: right;
    font-size: 14px;
}

.content table {
    border-spacing: 0 5px;
    border-collapse: separate;
}

.content td:first-child {
    font-weight: bold;
    padding-right: 20px;
}

.content td {
  vertical-align: top;
}

.content td h1, .content td h2 {
  margin-left: 0;
  font-size: 1.1em;
}

.content .item-list {
    list-style-type: none;
    padding: 0;
}

.content .item-list li { margin-bottom: 3px; }

.content .multi-column {
    -moz-column-count: 5;
    -moz-column-gap: 2.5em;
    -webkit-column-count: 5;
    -webkit-column-gap: 2.5em;
    column-count: 5;
    column-gap: 2.5em;
}
.content .multi-column li { width: 100%; display: inline-block; }

.content .method { font-size: 1em; }
.content .methods .docblock { margin-left: 40px; }

.content .impl-methods .docblock { margin-left: 40px; }

nav {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
nav.main {
    padding: 20px 0;
    text-align: center;
}
nav.main .current {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
nav.main .separator {
    border: 1px solid #000;
    display: inline-block;
    height: 23px;
    margin: 0 20px;
}
nav.sum { text-align: right; }

#main { padding-left: 10px; }

a {
    text-decoration: none;
    color: #000;
    background: transparent;
}
p a { color: #4e8bca; }
p a:hover { text-decoration: underline; }

.content a.trait, .block a.current.trait { color: #ed9603; }
.content a.mod, .block a.current.mod { color: #4d76ae; }
.content a.enum, .block a.current.enum { color: #5e9766; }
.content a.struct, .block a.current.struct { color: #e53700; }
.content a.fn, .block a.current.fn { color: #8c6067; }
.content .fnname { color: #8c6067; }

.search-input {
    width: 100%;
    outline: none;
    border: 2px solid black;
    color: #555;
    margin-top: 5px;
    padding: 5px 5px;
}

.search-input:focus {
    border-color: #66afe9;
}

#search {
    overflow: auto;
}

#help {
    background: #e9e9e9;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    position: absolute;
    top: 300px;
    left: 50%;
    margin-top: -125px;
    margin-left: -275px;
    width: 550px;
    height: 300px;
    border: 1px solid #bfbfbf;
}

#help dt {
    float: left;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    background: #fff;
    width: 23px;
    text-align: center;
    clear: left;
    display: block;
    margin-top: -1px;
}
#help dd { margin: 5px 33px; }
#help .infos { padding-left: 0; }
#help h1 { margin-top: 0; }
#help div {
    width: 50%;
    float: left;
    padding: 20px;
}

.stability {
    border-left: 6px solid;
    padding: 0 6px;
}

h1 .stability {
    text-transform: lowercase;
    margin-left: 14px;
    padding: 4px 10px;
}

.impl-methods .stability {
    margin-right: 20px;
}

.stability.Deprecated { border-color: #A071A8; color: #82478C; }
.stability.Experimental { border-color: #D46D6A; color: #AA3C39; }
.stability.Unstable { border-color: #D4B16A; color: #AA8439; }
.stability.Stable { border-color: #54A759; color: #2D8632; }
.stability.Frozen { border-color: #009431; color: #007726; }
.stability.Locked { border-color: #0084B6; color: #00668c; }
.stability.Unmarked { border-color: #BBBBBB; }

.summary {
    padding-right: 0px;
}
.summary.Deprecated { background-color: #A071A8; }
.summary.Experimental { background-color: #D46D6A; }
.summary.Unstable { background-color: #D4B16A; }
.summary.Stable { background-color: #54A759; }
.summary.Unmarked { background-color: #BBBBBB; }

:target { background: #FDFFD3; }

.docblock > pre.rust, #main > pre.rust {
  border: 1px solid black;
  overflow-x: hidden;
}

/* Code highlighting */
pre.rust .kw { color: #8959A8; }
pre.rust .kw-2, pre.rust .prelude-ty { color: #4271AE; }
pre.rust .number, pre.rust .string { color: #718C00; }
pre.rust .self, pre.rust .boolval, pre.rust .prelude-val,
pre.rust .attribute, pre.rust .attribute .ident { color: #C82829; }
pre.rust .comment { color: #8E908C; }
pre.rust .doccomment { color: #4D4D4C; }
pre.rust .macro, pre.rust .macro-nonterminal { color: #3E999F; }
pre.rust .lifetime { color: #B76514; }

.rusttest { display: none; }

pre.rust a {
  transform: scaleX(-1);
}

.test-arrow {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 150%;
}

.methods .section-header {
    /* Override parent class attributes. */
    border-bottom: none !important;
    font-size: 1.1em !important;
    margin: 0 0 -5px;
    padding: 0;
}

.section-header:hover a:after {
    content: '\2002\00a7\2002';
}
